*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    border: 1px solid black;
    height: 97vh;
    width: 100%;
    margin: 2%;
    /* display: flex; */

}
.btn{
    margin: 7px auto;

}
.titre{
    margin-top: 1.5em;
    /* text-align: center; */
}
.list{
    margin: 2em auto;
    width: 100%;
}