<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style_accueil.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="accueil.html">Elèves</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="classe.html">Classes</a>
                </li>
                
                <li class="nav-item"> 
                  <a class="nav-link" href="#">Niveaux</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Année scolaire</a>
                  </li>
               
              </ul>
        </div>
        <div class="btn">
            <a href="inscription.html"><button type="button" class="btn btn-outline-primary">Ajouter Elève</button></a>
        </div>
        <div class="list">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Adja awa TOURE
                <a href=""><span class="badge bg-primary rounded-pill">éditer</span></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Adja awa TOURE
                <a href=""><span class="badge bg-primary rounded-pill">éditer</span></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Adja awa TOURE
                <a href=""><span class="badge bg-primary rounded-pill">éditer</span></a>
            </li>
            </ul>
        </div>
    </div>
</body>
</html>
